<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="/css/user/product/board.css">
    <link rel="stylesheet" href="/css/user/product/board_detail.css">
    <link rel="stylesheet" href="/source/font/Cafe24Ssurround.ttf">
    <script type="text/javascript" th:src="@{/js/product.js}"></script>
    <title>MainPage</title>
</head>
<body>
 <!-- 헤더부분 -->
 <div th:replace="user/common/header.html"></div>
   <!-- 컨텐츠 부분 -->
   
   <div class="contents">
       <div class="content-wrap">
            <div class="page-title">
                <div>
                    <!-- <span><b>공지사항/이벤트</b></span>  -->
                </div>
            </div>
            
            <div class="page-contents">
                <div class="aside-wrap">
                    <nav class="menu-box">
                        <ul>
                            <li><a id="notice">공지사항</a></li>
                            <li><a id="event">이벤트</a></li>
                           
                        </ul>
                    </nav>
                    <div class="guide-box">
                        <dl>
                            <dt>고객센터 전화번호</dt>
                            <dd class="p-num">02-0000-0000</dd>
                            <dd>평일 <span class="text1">00:00 ~ 00:00</span></dd>
                            <dd>주말, 공휴일 휴무</dd>
                        </dl>
                    </div>
                </div>
            
                <div class="main"  th:each="postlist : ${post}">
                    <div class="menu-title-area">
                    	공지사항
                    </div>
                    <div class="menu-title" 
						>
                        <div class="right-title">
                       		<p th:text="${postlist.postTitle}"></p>
                        </div>
                        <div class="left-date">
                        	<p th:text="${postlist.postModifyDate}"></p>
                        </div>
                    </div>
                    
                    <div class="menu-text">
                      <p th:text="${postlist.postContent}">
                    </div>

                    <div class="btn-return">
                        <a href="../main/board.html"><input type="button" value="목록"></a>
                    </div> 
                </div>
            </div>
        
        </div>
    </div>
</section> 



</body>
</html>

